# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
.venv/
env/
venv/

# Pyinstaller
*.manifest
*.spec

# Unit test / coverage reports
.coverage
.pytest_cache/
htmlcov/

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm
.idea/

# VS Code
.vscode/

# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Temporary files
*.swp
*.bak
*.tmp
!*.patch
!*.diff

# Logs
*.log

# Node
node_modules/

# Dotenv
.env
.env.*